<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "SleepTracker" %></h1>
  <p>Track your sleep over time and analyze the data.</p>
</section>
<button phx-click="readings">Check Readings</button>
