/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* Styles */
body {
  background-color: #645394;
  color: white;
  font-family: "Comfortaa", cursive;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-bar {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(100, 83, 148, 0.3);
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  row-gap: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  transition-property: background-color, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: linear;

  * > img {
    max-height: 2.5rem;
    width: initial;
  }
}

h1,
h2 {
  text-align: center;
}

.mobile-nav-links {
  line-height: 2.5rem;
  background: #8375a9;
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: -10;
  transform: scale(0);
  transform-origin: right top;
  position: absolute;
  right: 0;
  width: 90vw;
  height: 90vw;
  border-radius: 50% 0px 50% 50%;
  transition: transform 0.4s ease 0s, opacity 0.15s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Balsamiq Sans", cursive;
    font-size: 2.2rem;
    font-weight: bold;
    max-width: 90vw;
    padding: 20px 0px 20px 60px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 4rem;
    align-items: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
.mobile-nav-links_showing {
  opacity: 1;
  z-index: 100;
  transform: scale(1);
}

.nav-bar_scrolling {
  background-color: rgba(100, 83, 148, 1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.hamburger-menu {
  width: 40px;
  height: 40px;
}

.hamburger-menu-close {
  align-self: flex-end;
  margin: 20px 30px 20px 0px;
}

.main {
  margin-top: calc((2.8rem + 30px) / -1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  & > img {
    margin-bottom: -4px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  & > .cta {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
  }
}

.container {
  margin: 0 auto;
  padding: 1.5rem;
  background-color: lighten($color: #645394, $amount: 10);
}
.container_alternate {
  background-color: white;
  color: #333333;
}

.button {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  background-color: transparent;
  text-decoration: none;
  font-family: "Balsamiq Sans", cursive;
  font-weight: bold;
  width: 9em;
  z-index: 10;
}

.main-button {
  border: #645394 8px solid;
  color: #645394;
  &:hover {
    background-color: #645394;
    color: white;
  }
}
.alternate-button {
  border: white 8px solid;
  color: white;
  &:hover {
    background-color: white;
    color: #645394;
  }
}

.footer {
  padding: 3rem;
  display: grid;
}

.cta {
  font-size: 25px;
  display: none;
  justify-items: end;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(100, 83, 148, 1) 50%
  );
}
.cta-content {
  margin-right: 100px;
  display: grid;
  align-content: center;
  justify-content: center;
  & > * {
    justify-self: center;
  }
}
.main-overlay {
  position: absolute;
  top: 0px;
  z-index: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(100, 83, 148, 1) 95%
  );
  & > img {
    opacity: 0;
  }
}

/* Breakpoints */
@media only screen and (min-width: 481px) {
  .main {
    & > img {
      margin-top: -66px;
    }
  }
  .main-overlay {
    margin-top: -66px;
  }
}

@media only screen and (min-width: 769px) {
  .nav-bar {
    .nav-links {
      column-gap: 80px;
    }
  }
  .main {
    & > img {
      margin-top: -145px;
    }
  }
  .content {
    margin-top: 50px;
  }
  .main-overlay {
    margin-top: -145px;
  }
  .content_wrapper {
    max-width: 85vw;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .container-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 80px;
    justify-items: center;
    align-items: center;

    max-width: 95ch;
  }
  .container-wrapper_img {
    grid-template-columns: 1fr 1fr;
  }
  .container-wrapper_alternate {
    & > img {
      order: 1;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    font-size: 20px;
  }
  .cta {
    display: grid;
  }
  .cta-content {
    margin-right: 50px;
  }
  .hamburger-menu {
    display: none;
  }
  .main {
    & > img {
      margin-top: -145px;
      margin-left: -50px;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  .main {
    & > img {
      margin-top: -199px;
    }
  }
  .main-overlay {
    margin-top: -199px;
  }
  .cta-content {
    margin-right: 100px;
  }
}
@media only screen and (min-width: 1600px) {
  .main {
    & > img {
      margin-top: -320px;
    }
  }
  .main-overlay {
    margin-top: -320px;
  }
}
