<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/favicon/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/favicon/site.webmanifest") %>" color="#645394">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#645394">
    <%= csrf_meta_tag() %>
    <title>SleepTracker · Visualize your sleep health</title>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/landing.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/landing.js") %>"></script>
  </head>
  <body>
    <main role="main">
      <header>
        <nav role="navigation" class="nav-bar">
          <a href="<%= Routes.landing_page_path(@conn, :index) %>">
            <img src="<%= Routes.static_path(@conn, "/images/sleeptracker-logo-rectangle-alternate.svg") %>" alt="SleepTracker Logo"/>
        </a>
        <i class="hamburger-menu"><img src="<%= Routes.static_path(@conn, "/images/icons/sleeping_moon_menu.svg") %>"><img></i>
        <div class="mobile-nav-links">
          <i class="hamburger-menu hamburger-menu-close"><img src="<%= Routes.static_path(@conn, "/images/icons/close.svg") %>"></img></i>
        <%= link to: Routes.user_registration_path(@conn, :new), class: "landing-link" do %>
          <img src="<%= Routes.static_path(@conn, "/images/icons/register.svg") %>"></img> <span>Sign Up</span>
      <% end %>
      <%= link to: Routes.user_session_path(@conn, :new), class: "landing-link" do %>
        <img src="<%= Routes.static_path(@conn, "/images/icons/log_in.svg") %>"></img><span>Sign In</span>
    <% end %>
  </div>
</nav>
</header>
<%= @inner_content %>
</main>
<script>
  const add_class_on_scroll = () => navBar.classList.add("nav-bar_scrolling");
    const remove_class_on_scroll = () => navBar.classList.remove("nav-bar_scrolling");
      const navBar = document.querySelector(".nav-bar");
      const navBar_height = navBar.offsetHeight;
      window.addEventListener("scroll", () => {
      scrollpos = window.scrollY;
  
      if (scrollpos >= navBar_height) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
      })
  const menu = document.querySelector(".hamburger-menu")
  const menuClose = document.querySelector(".hamburger-menu-close")
  const navLinks = document.querySelector(".mobile-nav-links")
  menu.addEventListener("click", ()=> navLinks.classList.add("mobile-nav-links_showing"))
  menuClose.addEventListener("click", ()=> navLinks.classList.remove("mobile-nav-links_showing"))
</script>
</body>
</html>
