.button {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  background-color: transparent;
  text-decoration: none;
  font-family: "Balsamiq Sans", cursive;
  font-weight: bold;
  width: 9em;
  z-index: 10;
}

.main-button {
  border: #645394 8px solid;
  color: #645394;
  &:hover {
    background-color: #645394;
    color: white;
  }
}
.alternate-button {
  border: white 8px solid;
  color: white;
  &:hover {
    background-color: white;
    color: #645394;
  }
}
