.cta {
  font-size: 17px;
  display: grid;
  justify-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) -20%,
    rgba(100, 83, 148, 1) 90%
  );
}
.cta-content {
  display: grid;
  align-content: center;
  justify-content: center;
  max-width: 85vw;
  margin-top: 13em;

  & > * {
    justify-self: center;
  }
  & > a {
    margin-top: 40px;
  }
  & > h1 {
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 20px;
  }
  & > p {
    font-size: 1em;
    text-align: center;
  }
}

@media only screen and (min-width: 540px) {
  .cta-content {
    margin-top: 18em;
  }
}

@media only screen and (min-width: 768px) {
  .cta-content {
    margin-top: 25em;
    & > h1 {
      font-size: 3.2em;
      margin-bottom: 40px;
    }
    & > p {
      font-size: 1.4em;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    font-size: 20px;
  }
  .cta-content {
    margin-top: -6em;
    & > h1 {
      font-size: 3em;
      margin-bottom: 40px;
    }
    & > p {
      font-size: 1.2em;
    }
  }
}

@media only screen and (min-height: 800px) and(max-width: 767px) {
  .cta-content {
    margin-top: 16em;
    & > h1 {
      font-size: 2em;

      margin-bottom: 60px;
    }
    & > p {
      font-size: 1.5em;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    font-size: 20px;
  }
  .cta-content {
    & > h1 {
      font-size: 3em;
      margin-bottom: 40px;
    }
    & > p {
      font-size: 1.2em;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .cta-content {
    margin-top: 200px;
    font-size: 25px;
  }
}
