.cta {
  font-size: 25px;
  display: none;
  justify-items: end;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(100, 83, 148, 1) 50%
  );
}
.cta-content {
  margin-right: 100px;
  display: grid;
  align-content: center;
  justify-content: center;
  & > * {
    justify-self: center;
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    display: grid;
  }
  .cta-content {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .cta-content {
    margin-right: 100px;
  }
}
